# ENVRC sets environment variables that alter the LOCAL DEVELOPMENT setup.
#
# It gets automatically run, and variables are automatically set/unset when you 
# change into this directory in the shell. 
#
# Here you can configure different modes of local development:
#  - Running local code against the remote postgres database and remote services
#  - Run using a local SQLite database
#  - Run using local firebase emulators (Firestore and Auth)

# We generally always want debug mode when developing locally
export DEBUG=True

# This connects us to the remote Cloud SQL database (the one configured in 
# .env / secrets manager) using the auth proxy, which should be running in the 
# background.
export GOOGLE_CLOUD_PROJECT=net-startupworx-bloxtest10
export USE_CLOUD_SQL_AUTH_PROXY=True

# Uncomment below to connect to a local SQLite database
# export USE_LOCAL_SQLITE_DB=True

# Uncomment the following to connect to local Firebase emulators. The default 
# behaviour is to use the production services.
# export FIRESTORE_EMULATOR_HOST=localhost:8080
# export FIREBASE_AUTH_EMULATOR_HOST=localhost:9099
