black~=22.6.0
django-stubs~=1.12.0
factory-boy~=3.2.1
faker~=13.15.0
isort~=5.10.1
mock-firestore~=0.11.0
mypy~=0.961
pytest~=7.1.2
pytest-django~=4.5.2
safety~=1.10.3
wemake-python-styleguide~=0.16.1